@import url('https://fonts.googleapis.com/css2?family=Abril+Fatface&family=Henny+Penny&family=Ms+Madi&family=Nabla&family=Rubik+Distressed&display=swap');
    /* font-family: 'Henny Penny', cursive; */
    /* font-family: 'Rubik Distressed', cursive; */
    /* font-family: 'Nabla', cursive; */
    /* font-family: 'Ms Madi', cursive; */
    /* font-family: 'Abril Fatface', cursive; */
:root {
    --primary:#aaa;
    --secondary:#aaa;
    --light:#aaa;
    --danger:#aaa;
    --success:#aaa;
}
*, html, body {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    background-image: url('../images/background-jumanji-set.jpg');
    background-position: center;
    /* background-repeat: no-repeat; */
    background-size: cover;
    background-attachment: fixed;
    min-height: 70vh;
}

header {
    min-height: 20vw;
    width: 100%;
    color: #daa520;
    background-color: rgba(190, 80, 80, 0.144);

}   

.header {
    display: flex;
    justify-content: center;
    margin-top: 15px;
}

.nav-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 220px;
    background: rgba(0, 0, 0, 0.932);
    border: ridge 5px goldenrod;
    margin-top: 20px;
    top: 0;
    position: fixed;
    transform: translateY(-130%);
    transition: transform 0.8s ease-out;
}
.nav-container nav {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
}
.nav-container nav li {
    margin: 10px 30px ;
    font-size: 1.5rem;
    list-style: none;
}

.nav-container a{
    text-decoration: none;
    color: grey;
    font-size: 1.8rem;
    font-family: 'Rubik Distressed', cursive;
    padding: 20px;
    border: 2px solid transparent;
    border-radius: 3px;
}

.nav-container a:hover {
    color: goldenrod;
    border: 2px solid goldenrod;
    background-color: black;
}

.logo-container {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 20px;
    margin-left: 5vw;
    width: 100%;
}

.logo-container p {
    font-size: 4rem;
    margin: 20px 80px;
    padding: 10px 20px;
    border: solid 1px goldenrod;
    border-radius: 5px;
    background-color: rgba(0, 0, 0, 0.541);
}

.logo-container a {
    text-decoration: none;
    color: goldenrod;

}

main {
    width: 100%;
}

h1 {
    font-size: 10rem;
    font-weight: bold;
    margin: 80px auto;
    color: goldenrod;
    padding: 70px;
    border: ridge 15px goldenrod;
    border-radius: 35% 35% 25% 25%;
    background-color: rgb(0, 0, 3);
    font-family: 'Henny Penny', cursive;
    background-image: url('../images/bg-galaxy.jpg');
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
    box-shadow: 0px 0px 100px 10px wheat;
    -webkit-text-stroke: #111b33 2px;
    max-width: 60%;
}

.title-container {
    margin: 15px;
}

h2 {
    /* background-color: rgba(160, 63, 33, 0.582); */
    background-color: rgba(14, 26, 19, 0.96);
    border: 8px ridge goldenrod;
    border-radius: 10px;
    color: gold;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 4rem;
    text-align: center;
    padding: 25px;
    margin: 60px auto;
    font-family: 'Nabla', cursive;

}

.cool1, .cool2 {
    padding: 5px;
    /* font-family: 'Rubik Distressed', cursive; */
    margin: auto 30px;
    font-size: 10rem;
    text-decoration: line-through rgb(249, 208, 87) 18px;
    /* -webkit-text-stroke: 1px brown; */
}

.cool2 {
    text-decoration: none;
}

.alcool {
    color: gold;
    padding: 5px;
    font-family: 'Rubik Distressed', cursive;
    margin: auto 30px;
    font-size: 6rem;
    -webkit-text-stroke: 1px brown;
}

footer {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: wheat;
    min-height: 20vh;
    background-color: rgba(0, 0, 0, 0.623);
    border: 8px ridge goldenrod;
    border-radius: 10px;
    font-size: 2rem;
    margin-top: 80px;
}

footer p {
    padding-bottom: 20px ;
}

footer ul {
    display: flex;
    justify-content: space-around;
    width: 100%;
}

input {
    min-width: 60vw;
    border: ridge 10px gray;
    padding: 10px;
    margin: 40px 70px;
    border-radius: 5px;
    font-size: 1.5rem;
}

.links-container {
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 99%;
}
.links-container a {
    text-decoration: none;
    color: #daa520;
    margin: 20px auto;
    padding: 20px;
}

label {
    padding: 14px;
    margin: 10px;
    margin-top: 30px;
    border: ridge 8px goldenrod;
    background-color: bisque;
    border-top-left-radius: 5px;
    border-bottom-left-radius: 5px;
    font-size: 1.4rem;
    font-weight: 800;
}

.form-container {
    background-color: rgba(116, 78, 32, 0.568);
    margin: 30px;
    padding-top: 50px;
    border: ridge 16px grey;
    border-radius: 5px;
    box-shadow: 0px 0px 10px 10px wheat;
    font-family: 'Henny Penny', cursive;
    letter-spacing: 1px;
}


/* Style menu burger  */

.l1 {
    transform: translateY(-10px);
}

.l3 {
    transform: translateY(10px);
}

.nav-toggler.active .l1 {
    transform: translateY(0px) rotate(315deg);
}

.nav-toggler.active .l2 {
    opacity: 0;
}

.nav-toggler.active .l3 {
    transform: translateY(0px) rotate(-325deg);
}

.nav-toggler {
    position: fixed;
    z-index: 10;
    top: 30px;
    right: 30px;
    height: 50px;
    width: 50px;
    border:none;
    outline: none;
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
    background: rgba(0, 0, 0, 0.726);
    border-radius: 5px;
}

.linespan {
    position: absolute;
    display: block;
    width: 100%;
    height: 3px;
    background: goldenrod;
    transition: transform 0.4s ease-out,
     opacity 0.1s ease-out;

}

span {
    font-weight: 600;
}

.nav-container.active {
    transform: translateX(0);
}

.button {
    padding: 20px 15px;
    background-color: #815f08;
    max-width: 200px;
    border-radius: 3px;
    border: ridge 6px goldenrod;
}

a {
    text-decoration: none;
}
@media screen and (max-width:984px)
{
    h1 {
        width: 70%;
        font-size: 60px;
    }    
}

@media screen and (max-width:600px){
    h1 {
        width: 400px;
        font-size: 9.5vw;
    }

    .title-container,
    .cool1,
    .cool2 {
        font-size: 4vw;
    }

    .logo-container {
        margin: 0;
        flex-direction: column;
    }

 
}