{% extends 'base.html.twig' %}

{% block title %}
    Log - {{ parent() }}
{% endblock %}

{% block body %}


<div class="title-container">
    <h1>Formulaire de jeu</h1>
</div>

<div>
    <form action="">
        <input type="text" name="name" id="name" placeholder="Rechercher un jeu" />
    </form>
</div>
{% endblock %}
