{% extends 'base.html.twig' %}

{% block title %}Liste des jeux{% endblock %}

{% block body %}


<h1>Liste des jeux</h1>
<form action="">

    <input type="text" placeholder = "Rechercher un jeu" id="liste" name="list">
</form>
{% endblock %}
