<footer>
    <div class="links-container">
        <a href="#">Mentions légales</a>
        <a href="#">Politique de confidentialité</a>
        <a href="#">Conditions générales d'utilisation</a>
    </div>
        <p class="alcool">
            #Lalcoolcestpas-cool
        </p>
        <p>
            Copyrights © - Terms of Service.Inc - {{ date()|date("d/m/Y")}}
        </p>
</footer>