{% extends 'base.html.twig' %}

{% block title %}
    Connexion - {{ parent() }}
{% endblock %}

{% block body %}

<h1>Connexion</h1>


<div class="form-container">
    <form action="">
        <input type="text" name="username" id="username" placeholder="Username">
        <input type="password" name="password" id="password" placeholder="Password">
    </form>
</div>
{% endblock %}
