{% extends 'base.html.twig' %}


{% block title %}
    Inscription - {{ parent() }}
{% endblock %}


{% block stylesheets %}
<link rel="stylesheet" href="{{ asset('css/register.css')}}">
{% endblock %}


{% block body %}

<h1>Inscription</h1>


<div class="form-container">
    <form action="">
        <label for="username">Pseudo</label><br>
        <input type="text" name="username" id="username" placeholder="Pseudo"><br>

        <label for="password">Mot de passe</label><br>
        <input type="password" name="password" id="password" placeholder="Mot de passe"><br>

        <label for="Email">Email</label><br>
        <input type="Email" name="Email" id="Email" placeholder="Email"><br>

        {# <label for="tel">Téléphone</label><br> #}
        {# <input type="tel" name="tel" id="tel" placeholder="Numéro de télphone"><br> #}
        {# <button class="submit-button" type="submit">Je m'inscris !</button> #}
        <button class="btn-marquee">
            <span class="base-txt" type="submit">Je m'inscris !</span>
                <div class="marquee" aria-hidden="true">
                    <span>Je m'inscris !</span>
                    <span>Je m'inscris !</span>
                    <span>Je m'inscris !</span>
                </div>
        </button>
    </form>
</div>

{% endblock %}
